--
-- PostgreSQL database dump
--

\restrict 6pGbl6i1QszH6POgyvEPUZJW4hklAceoa9MF8a44ng5k8cEBcv18c2ydujFcxPz

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: logisnap
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'PICKER',
    'VIEWER'
);


ALTER TYPE public.userrole OWNER TO logisnap;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO logisnap;

--
-- Name: depositors; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.depositors (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(100) NOT NULL,
    contact_info jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.depositors OWNER TO logisnap;

--
-- Name: depositors_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.depositors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.depositors_id_seq OWNER TO logisnap;

--
-- Name: depositors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.depositors_id_seq OWNED BY public.depositors.id;


--
-- Name: location_type_definitions; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.location_type_definitions (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.location_type_definitions OWNER TO logisnap;

--
-- Name: location_type_definitions_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.location_type_definitions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.location_type_definitions_id_seq OWNER TO logisnap;

--
-- Name: location_type_definitions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.location_type_definitions_id_seq OWNED BY public.location_type_definitions.id;


--
-- Name: location_usage_definitions; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.location_usage_definitions (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.location_usage_definitions OWNER TO logisnap;

--
-- Name: location_usage_definitions_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.location_usage_definitions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.location_usage_definitions_id_seq OWNER TO logisnap;

--
-- Name: location_usage_definitions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.location_usage_definitions_id_seq OWNED BY public.location_usage_definitions.id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    warehouse_id integer NOT NULL,
    zone_id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(100) NOT NULL,
    aisle character varying(50) NOT NULL,
    bay character varying(50) NOT NULL,
    level character varying(50) NOT NULL,
    slot character varying(50) NOT NULL,
    type_id integer NOT NULL,
    usage_id integer NOT NULL,
    pick_sequence integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.locations OWNER TO logisnap;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.locations_id_seq OWNER TO logisnap;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: product_uoms; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.product_uoms (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    product_id integer NOT NULL,
    uom_id integer NOT NULL,
    conversion_factor double precision NOT NULL,
    barcode character varying(255),
    length double precision,
    width double precision,
    height double precision,
    volume double precision,
    weight double precision,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.product_uoms OWNER TO logisnap;

--
-- Name: product_uoms_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.product_uoms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_uoms_id_seq OWNER TO logisnap;

--
-- Name: product_uoms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.product_uoms_id_seq OWNED BY public.product_uoms.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.products (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    depositor_id integer,
    sku character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    barcode character varying(255),
    base_uom_id integer,
    custom_attributes jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO logisnap;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO logisnap;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.tenants OWNER TO logisnap;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tenants_id_seq OWNER TO logisnap;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: uom_definitions; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.uom_definitions (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.uom_definitions OWNER TO logisnap;

--
-- Name: uom_definitions_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.uom_definitions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.uom_definitions_id_seq OWNER TO logisnap;

--
-- Name: uom_definitions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.uom_definitions_id_seq OWNED BY public.uom_definitions.id;


--
-- Name: user_table_settings; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.user_table_settings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    table_name character varying(100) NOT NULL,
    settings_json jsonb NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.user_table_settings OWNER TO logisnap;

--
-- Name: user_table_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.user_table_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_table_settings_id_seq OWNER TO logisnap;

--
-- Name: user_table_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.user_table_settings_id_seq OWNED BY public.user_table_settings.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.users (
    id integer NOT NULL,
    tenant_id integer,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.userrole NOT NULL,
    full_name character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO logisnap;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO logisnap;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.warehouses (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(100) NOT NULL,
    address character varying(500) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.warehouses OWNER TO logisnap;

--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.warehouses_id_seq OWNER TO logisnap;

--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouses.id;


--
-- Name: zones; Type: TABLE; Schema: public; Owner: logisnap
--

CREATE TABLE public.zones (
    id integer NOT NULL,
    warehouse_id integer NOT NULL,
    tenant_id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.zones OWNER TO logisnap;

--
-- Name: zones_id_seq; Type: SEQUENCE; Schema: public; Owner: logisnap
--

CREATE SEQUENCE public.zones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.zones_id_seq OWNER TO logisnap;

--
-- Name: zones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: logisnap
--

ALTER SEQUENCE public.zones_id_seq OWNED BY public.zones.id;


--
-- Name: depositors id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.depositors ALTER COLUMN id SET DEFAULT nextval('public.depositors_id_seq'::regclass);


--
-- Name: location_type_definitions id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_type_definitions ALTER COLUMN id SET DEFAULT nextval('public.location_type_definitions_id_seq'::regclass);


--
-- Name: location_usage_definitions id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_usage_definitions ALTER COLUMN id SET DEFAULT nextval('public.location_usage_definitions_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: product_uoms id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms ALTER COLUMN id SET DEFAULT nextval('public.product_uoms_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: uom_definitions id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.uom_definitions ALTER COLUMN id SET DEFAULT nextval('public.uom_definitions_id_seq'::regclass);


--
-- Name: user_table_settings id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.user_table_settings ALTER COLUMN id SET DEFAULT nextval('public.user_table_settings_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: warehouses id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.warehouses ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- Name: zones id; Type: DEFAULT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.zones ALTER COLUMN id SET DEFAULT nextval('public.zones_id_seq'::regclass);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: depositors depositors_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.depositors
    ADD CONSTRAINT depositors_pkey PRIMARY KEY (id);


--
-- Name: location_type_definitions location_type_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_type_definitions
    ADD CONSTRAINT location_type_definitions_pkey PRIMARY KEY (id);


--
-- Name: location_usage_definitions location_usage_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_usage_definitions
    ADD CONSTRAINT location_usage_definitions_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: product_uoms product_uoms_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms
    ADD CONSTRAINT product_uoms_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: uom_definitions uom_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.uom_definitions
    ADD CONSTRAINT uom_definitions_pkey PRIMARY KEY (id);


--
-- Name: locations uq_location_name_per_warehouse; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT uq_location_name_per_warehouse UNIQUE (warehouse_id, name);


--
-- Name: product_uoms uq_product_uom_id; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms
    ADD CONSTRAINT uq_product_uom_id UNIQUE (product_id, uom_id);


--
-- Name: product_uoms uq_tenant_barcode; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms
    ADD CONSTRAINT uq_tenant_barcode UNIQUE (tenant_id, barcode);


--
-- Name: depositors uq_tenant_depositor_code; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.depositors
    ADD CONSTRAINT uq_tenant_depositor_code UNIQUE (tenant_id, code);


--
-- Name: location_type_definitions uq_tenant_location_type_code; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_type_definitions
    ADD CONSTRAINT uq_tenant_location_type_code UNIQUE (tenant_id, code);


--
-- Name: location_usage_definitions uq_tenant_location_usage_code; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_usage_definitions
    ADD CONSTRAINT uq_tenant_location_usage_code UNIQUE (tenant_id, code);


--
-- Name: products uq_tenant_sku; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT uq_tenant_sku UNIQUE (tenant_id, sku);


--
-- Name: uom_definitions uq_tenant_uom_code; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.uom_definitions
    ADD CONSTRAINT uq_tenant_uom_code UNIQUE (tenant_id, code);


--
-- Name: warehouses uq_tenant_warehouse_code; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT uq_tenant_warehouse_code UNIQUE (tenant_id, code);


--
-- Name: user_table_settings uq_user_table_name; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.user_table_settings
    ADD CONSTRAINT uq_user_table_name UNIQUE (user_id, table_name);


--
-- Name: zones uq_zone_code_per_warehouse; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT uq_zone_code_per_warehouse UNIQUE (tenant_id, warehouse_id, code);


--
-- Name: user_table_settings user_table_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.user_table_settings
    ADD CONSTRAINT user_table_settings_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: zones zones_pkey; Type: CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_pkey PRIMARY KEY (id);


--
-- Name: ix_depositors_code; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_depositors_code ON public.depositors USING btree (code);


--
-- Name: ix_depositors_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_depositors_id ON public.depositors USING btree (id);


--
-- Name: ix_depositors_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_depositors_tenant_id ON public.depositors USING btree (tenant_id);


--
-- Name: ix_location_type_definitions_code; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_location_type_definitions_code ON public.location_type_definitions USING btree (code);


--
-- Name: ix_location_type_definitions_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_location_type_definitions_id ON public.location_type_definitions USING btree (id);


--
-- Name: ix_location_type_definitions_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_location_type_definitions_tenant_id ON public.location_type_definitions USING btree (tenant_id);


--
-- Name: ix_location_usage_definitions_code; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_location_usage_definitions_code ON public.location_usage_definitions USING btree (code);


--
-- Name: ix_location_usage_definitions_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_location_usage_definitions_id ON public.location_usage_definitions USING btree (id);


--
-- Name: ix_location_usage_definitions_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_location_usage_definitions_tenant_id ON public.location_usage_definitions USING btree (tenant_id);


--
-- Name: ix_locations_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_locations_tenant_id ON public.locations USING btree (tenant_id);


--
-- Name: ix_locations_type_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_locations_type_id ON public.locations USING btree (type_id);


--
-- Name: ix_locations_usage_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_locations_usage_id ON public.locations USING btree (usage_id);


--
-- Name: ix_locations_warehouse_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_locations_warehouse_id ON public.locations USING btree (warehouse_id);


--
-- Name: ix_locations_zone_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_locations_zone_id ON public.locations USING btree (zone_id);


--
-- Name: ix_product_uoms_barcode; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_product_uoms_barcode ON public.product_uoms USING btree (barcode);


--
-- Name: ix_product_uoms_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_product_uoms_id ON public.product_uoms USING btree (id);


--
-- Name: ix_product_uoms_product_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_product_uoms_product_id ON public.product_uoms USING btree (product_id);


--
-- Name: ix_product_uoms_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_product_uoms_tenant_id ON public.product_uoms USING btree (tenant_id);


--
-- Name: ix_products_depositor_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_products_depositor_id ON public.products USING btree (depositor_id);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_products_sku; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_products_sku ON public.products USING btree (sku);


--
-- Name: ix_products_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_products_tenant_id ON public.products USING btree (tenant_id);


--
-- Name: ix_tenants_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_tenants_id ON public.tenants USING btree (id);


--
-- Name: ix_uom_definitions_code; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_uom_definitions_code ON public.uom_definitions USING btree (code);


--
-- Name: ix_uom_definitions_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_uom_definitions_id ON public.uom_definitions USING btree (id);


--
-- Name: ix_uom_definitions_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_uom_definitions_tenant_id ON public.uom_definitions USING btree (tenant_id);


--
-- Name: ix_user_table_settings_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_user_table_settings_id ON public.user_table_settings USING btree (id);


--
-- Name: ix_user_table_settings_table_name; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_user_table_settings_table_name ON public.user_table_settings USING btree (table_name);


--
-- Name: ix_user_table_settings_user_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_user_table_settings_user_id ON public.user_table_settings USING btree (user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_users_tenant_id ON public.users USING btree (tenant_id);


--
-- Name: ix_warehouses_code; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_warehouses_code ON public.warehouses USING btree (code);


--
-- Name: ix_warehouses_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_warehouses_id ON public.warehouses USING btree (id);


--
-- Name: ix_warehouses_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_warehouses_tenant_id ON public.warehouses USING btree (tenant_id);


--
-- Name: ix_zones_tenant_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_zones_tenant_id ON public.zones USING btree (tenant_id);


--
-- Name: ix_zones_warehouse_id; Type: INDEX; Schema: public; Owner: logisnap
--

CREATE INDEX ix_zones_warehouse_id ON public.zones USING btree (warehouse_id);


--
-- Name: depositors depositors_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.depositors
    ADD CONSTRAINT depositors_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: location_type_definitions location_type_definitions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_type_definitions
    ADD CONSTRAINT location_type_definitions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: location_usage_definitions location_usage_definitions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.location_usage_definitions
    ADD CONSTRAINT location_usage_definitions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: locations locations_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: locations locations_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.location_type_definitions(id) ON DELETE RESTRICT;


--
-- Name: locations locations_usage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_usage_id_fkey FOREIGN KEY (usage_id) REFERENCES public.location_usage_definitions(id) ON DELETE RESTRICT;


--
-- Name: locations locations_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id) ON DELETE CASCADE;


--
-- Name: locations locations_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.zones(id) ON DELETE CASCADE;


--
-- Name: product_uoms product_uoms_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms
    ADD CONSTRAINT product_uoms_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_uoms product_uoms_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms
    ADD CONSTRAINT product_uoms_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: product_uoms product_uoms_uom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.product_uoms
    ADD CONSTRAINT product_uoms_uom_id_fkey FOREIGN KEY (uom_id) REFERENCES public.uom_definitions(id) ON DELETE CASCADE;


--
-- Name: products products_base_uom_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_base_uom_id_fkey FOREIGN KEY (base_uom_id) REFERENCES public.uom_definitions(id) ON DELETE SET NULL;


--
-- Name: products products_depositor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_depositor_id_fkey FOREIGN KEY (depositor_id) REFERENCES public.depositors(id) ON DELETE CASCADE;


--
-- Name: products products_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: uom_definitions uom_definitions_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.uom_definitions
    ADD CONSTRAINT uom_definitions_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: user_table_settings user_table_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.user_table_settings
    ADD CONSTRAINT user_table_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: warehouses warehouses_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: zones zones_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: zones zones_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: logisnap
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6pGbl6i1QszH6POgyvEPUZJW4hklAceoa9MF8a44ng5k8cEBcv18c2ydujFcxPz

